html {
	font-size: 100%
}

p {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 1.7rem;
	color: #707F8C;
	justify-content: center;
}

.main {
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 15px;
	line-height: 2rem;
	color: #707F8C;
	font-weight: bold;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	flex-flow: column wrap;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: stretch;
	flex-shrink: 10;
}

@media (min-width: 600px) {

  .container {
    flex-direction: row;
    justify-content: center;

  }

}

h1 {
	font-size: 2.7rem;
	color: #324359;
	font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 1.3rem;
	color: #162238;
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

a {
  color: #162238;
  text-decoration: none;
}

a:hover
{
  color:#707F8C;
  text-decoration:none;
  cursor:pointer;
}

body{
	background-color: #D9D9D9;
	text-align: center;
}

#container{
    width: 95%;
    margin: 0 auto;
}

.container {
	padding: 0;
	list-style-type: none;
}

.container li {
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.container a:link, .container a:visited {
	display: block;
	color: #D9D9D9;
	font-weight: 500;
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	background-color: #324359;
	padding: 12px;
	border-radius: 3px;
	margin: 5px;
}

.container a:hover, .container a:active {
	color: #F2F2F0;
	background-color: #707F8C;
	border-radius: 3px;
	margin: 5px;
}

#footer {
    color: #162238;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 0.7em;
    border-top: 1px solid #162238;
		border-width: 1px;
		padding-top: 7px;
}

img {
	border: none;
  margin-top: 3px;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
}

.subtitle {
	font-size: 1rem;
	color: #162238;
	font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

.caption {
	font-size: .9rem;
	color: #162238;
}

.byline {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: normal;
}

.pullquote {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.5;
	color: #324359;
}

.menu-trigger {
  order: 1;
  font-size: 1.5em;
  width: 2em;
}

header h2 {
  order: 2;
  font-size: 1.75em;
}

.container {
  display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

		.container {
			display: flex;
		}

}
